<div id="Page3" class="tabcontent">
  <div id="dischargeSliderDiv">
    <div style="float:left; margin-left:60px; margin-right:60px;">
      <!-- <span style="margin-left:-25px;font-size:larger;">What percent of battery discharge do you wish to achieve?</span><br> -->
      <span style="margin-left:-25px;font-size:larger;">How much of the battery do you want to discharge?</span><br>
      <!-- <input id="dischargePct" type="range"  min="50" max="100" value="50" step="10" list="dischargePctList"
      {% if gotData %}
       onchange='calcDischargeTable({{ids}}, {{submodel}}, {% if gotYearRange %}1{% else %}0{% end %}, {{years}}, {{kWh}}, {{amps}});dischargechart(JSON.parse("{% raw dischargetimes %}"));'
      {% else %}
       onchange='dischargechart(JSON.parse("{% raw dischargetimes %}"));'
      {% end %} 
      >
      <datalist id="dischargePctList">
        <option value="50" label="50"></option>
        <option value="60" label="60"></option>
        <option value="70" label="70"></option>
        <option value="80" label="80"></option>
        <option value="90" label="90"></option>
        <option value="100" label="100"></option>
      </datalist> -->
      <select id="dischargePct" style="text-align:center; text-align-last: center;font-size:larger;"
      {% if gotData %}
       onchange='calcDischargeTable({{ids}}, {{submodel}}, {% if gotYearRange %}1{% else %}0{% end %}, {{years}}, {{kWh}}, {{amps}});dischargechart(JSON.parse("{% raw dischargetimes %}"));'
      {% else %}
       onchange='dischargechart(JSON.parse("{% raw dischargetimes %}"));'
      {% end %} 
      >
        <option value="50" label="50"></option>
        <option value="60" label="60"></option>
        <option value="70" label="70"></option>
        <option value="80" label="80"></option>
        <option value="90" label="90"></option>
        <option value="100" label="100"></option>
      </select>
      <label for="dischargePct" style="font-weight:bold;font-size:larger;"> percent</label>
    </div>
    <div style="float:left;">
      <!-- <span style="margin-bottom:25px;font-size:larger;">Choose the length of time you desire to reach your discharge goal?</span><br> -->
      <span style="margin-bottom:25px;font-size:larger;">Choose the length of time to achieve the battery discharge?</span><br>
      <!-- <input id="dischargeTime" type="range" min="0.5" max="20" value="1" step="0.5" 
      > -->
      <select id="dischargeTime" style="margin-left:25px;text-align:center; text-align-last: center;font-size:larger;"
      {% if gotData %}
        onchange='calcDischargeTable({{ids}}, {{submodel}}, {% if gotYearRange %}1{% else %}0{% end %}, {{years}}, {{kWh}}, {{amps}});dischargechart(JSON.parse("{% raw dischargetimes %}"));'
      {% else %}
        onchange='dischargechart(JSON.parse("{% raw dischargetimes %}"));'
      {% end %}
      >
        <option value="0.5" label="0.5"></option>
        <option value="1"   label="1"></option>
        <option value="1.5" label="1.5"></option>
        <option value="2"   label="2"></option>
        <option value="2.5" label="2.5"></option>
        <option value="3"   label="3"></option>
        <option value="3.5" label="3.5"></option>
        <option value="4"   label="4"></option>
        <option value="4.5" label="4.5"></option>
        <option value="5"   label="5"></option>
        <option value="6"   label="6"></option>
        <option value="7"   label="7"></option>
        <option value="8"   label="8"></option>
        <option value="9"   label="9"></option>
        <option value="10"  label="10"></option>
        <option value="11"  label="11"></option>
        <option value="12"  label="12"></option>
        <option value="13"  label="13"></option>
        <option value="14"  label="14"></option>
        <option value="15"  label="15"></option>
        <option value="16"  label="16"></option>
        <option value="17"  label="17"></option>
        <option value="18"  label="18"></option>
        <option value="19"  label="19"></option>
        <option value="20"  label="20"></option>
        <option value="21"  label="21"></option>
        <option value="22"  label="22"></option>
        <option value="23"  label="23"></option>
        <option value="24"  label="24"></option>
      </select>
      <label for="dischargeTime" style="font-weight:bold;font-size:larger;"> hours</label>
      <!--<br>
      <span style='width:100%;text-align: center;' id="dischargeHours">1.0</span>
      <datalist id="dischargeTimeList">
        <option value="0.5" label="0.5"></option>
        <option value="1"   label="1.0"></option>
        <option value="1.5" label="1.5"></option>
        <option value="2"   label="2.0"></option>
        <option value="2.5" label="2.5"></option>
        <option value="3"   label="3.0"></option>
        <option value="3.5" label="3.5"></option>
        <option value="4"   label="4.0"></option>
        <option value="5"   label="5.0"></option>
        <option value="6"   label="6.0"></option>
        <option value="7"   label="7.0"></option>
        <option value="8"   label="8.0"></option>
        <option value="9"   label="9.0"></option>
        <option value="10"  label="10.0"></option>
        <option value="11"  label="11.0"></option>
        <option value="12"  label="12.0"></option>
        <option value="13"  label="13.0"></option>
        <option value="14"  label="14.0"></option>
        <option value="15"  label="15.0"></option>
        <option value="16"  label="16.0"></option>
        <option value="17"  label="17.0"></option>
        <option value="18"  label="18.0"></option>
        <option value="19"  label="19.0"></option>
      </datalist> -->
    </div>
  </div>
  <br>
  <br>
  <div>
    {% if gotData %}
      <div style="float:left" id="vehicledischarge-wrapper" style="position:relative;margin-left: 10px;">
        <div id="vehicledischarge-scroll" style="margin-left:20px;width: 520px;border-style:solid;border-width:thin;border-color: #ccc;">
          <table style="border-spacing: 0;">
            <tbody>
              <tr style="background-color:lightgreen;">
                <th style="width:320px;font-size: larger;" colspan="4">
                  {{year}} {{make}} {{model}}<br>
                  <span style="font-style:italic;font-weight:normal;font-size:smaller;">
                    currently selected vehicle{% if gotYearRange %} - year not specified{% end %}
                  </span>
                </th>
              </tr>
              <tr style="background-color:lightgreen;">
                <th style="height:25px;width:320px;font-size:1.1em;text-align:center;vertical-align:bottom;font-weight:normal;" colspan="4">
                  Power(kW) required to discharge <span id="tblDisPct" style="font-weight:bold;">50%</span> of this car's battery in <span id="tblDisTime" style="font-weight:bold;">one hour</span>
                </th>
              </tr>
              <tr style="background-color:#eee"><th>Submodel</th><th>kiloWatts</th><th>Amp-hours</th><th>State of Charge</th></tr>
            </tbody>
            <tbody style="overflow:scroll; background-color:#f6f6f6; font-size:1.2em">
              {% for id in ids %}
                <tr style="line-height: 0.9em;height: 45px;">
                  <td align="center"><span id="disSubmodel{{id}}"></span><br><span id="disYears{{id}}" style="font-size:small;font-style:italic;"></span></td>
                  <td align="center"><span id="diskWh{{id}}"></span></td>
                  <td align="center"><span id="disAmps{{id}}"></span></td>
                  <td align="center"><span id="disSOC{{id}}"></span></td>
                </tr>
              {% end %}
            </tbody>
          </table>
        </div>
      </div>
    {% end %}
    <div style="float:left;margin-left:500px">
      <div id="dischargeChartTitle" style="margin-left:100px;">
        Power(kW) required to discharge <span id="chtDisPct" style="font-weight:bold;">50%</span> of the battery in <span id="chtDisTime" style="font-weight:bold;">one hour</span>
        <!-- Power required to discharge half of the battery in one hour -->
      </div>
      <div id="dischargeChartSubtitle" style="margin-left:100px;">2022 vehicles</div>
      <svg width="600" height="400" id="dischargechart"></svg>
    </div>
  </div>
  <div style="clear:both"></div>
  <div style="float:left;margin-left: 600px;margin-top:-30px;"><br>Sort by:</div>
  <div style="float:left;margin-left: 5px;margin-top:-30px;"><br>
    <input id="d3sortbykw" name="dischartsort" type="radio">
    <label for="d3sortbykw">Discharge Power (descending)</label> 
    <br>
    <input id="d3sortbyvehicle" name="dischartsort" type="radio">
    <label for="d3sortbyvehicle">Vehicle Name</label> 
  </div>
</div>

<script>
  {% if gotData %}
    document.getElementById("dischargePct").dispatchEvent(new Event("change"))
  {% end %}
  dischargechart(JSON.parse("{% raw dischargetimes %}"));
</script>