  <div id="Page1" class="tabcontent">
    {% if gotData %}
    <div id="remainingmilesdiv">
      <br><span>Enter Remaining Miles </span>
      <input style="width:70px" type="number" id="curmiles" name="curmiles" 
            title="Enter the number of miles left on the battery"
            oninput="remainingMilesCalcData(this.value, {{ids}}, {{rngs}}, {{kWh}}, {{chem}}, {{maxvolt}}, {{minvolt}})">
      <label id="miles" class="errmsg" hidden></label>
    </div>
    <input type="radio" checked="true" id="pg1CalcPackVolts" name="pg1PackVolts" onchange="togglePackVoltElements();">
    <span style="font-size:smaller"> Estimate Pack Voltage and SOC from remaining miles</span><br>
    <input type="radio" id="pg1EnterPackVolts" name="pg1PackVolts" onchange="togglePackVoltElements();">
    <span style="font-size:smaller"> Enter measurement Pack Voltage from vehicle data</span>
    <br><br>
    <table class="page1data">
      <tr>
        <th>{{year}} {{dbEV[0]['Make']}} {{dbEV[0]['Model']}}</th>
        {% for row in dbEV %}
          {% if gotYearRange %}
            <th><b>{{row['SubModel']}}</b><br><span style="font-size:small;font-style:italic;font-weight: normal;">averaged for years:<br>{{row['yearRange'] }}</span></th>
          {% else %}
            <th><b>{{row['SubModel']}}</b></th>
          {% end %}
        {% end %}
      </tr>
      <tr>
        <td>kWh rated: </td>
        {% for row in dbEV %}
          <td><b>{{decFormat(row['kWhRated'], 2)}}</b></td>
        {% end %}
      </tr>
      <tr>
        <td>Module or pack capacity (Ah)</td>
        {% for row in dbEV %}
          <td> <b>{{decFormat(row['ModulePackCapacity_Ah'], 2)}}</b></td>
        {% end %}
      </tr>
      <tr>
        <td>Nominal pack voltage</td>
        {% for row in dbEV %}
          <td> <b>{{decFormat(row['NominalPackVoltage'], 1)}}</b></td>
        {% end %}
      </tr>
      <tr>
        <td><span id="socLabel">State of Charge</span><br><span id="socTooltip" style="font-size: smaller;font-style: italic;">Estimate based on remaining miles</span>
          <!-- <img id="socTooltip" src="{{ static_url('images/qmark-16.png') }}" width="14px" title="SOC estimate based on remaining miles"></td> -->
        {% for row in dbEV %}
          <td> <b><span id="socPct{{row['ID']}}" name="socPctObj"></span></b></td>
        {% end %}
      </tr>
      <tr>
        <td><span id="strandedkwhLabel">Energy stranded (kWh)</span><br><span id="strandedkwhTooltip" style="font-size: smaller;font-style: italic;">Estimate based on remaining miles</span>
           <!-- <img id="strandedkwhTooltip" src="{{ static_url('images/qmark-16.png') }}" width="14px" title="kWh estimate based on remaining miles"></td> -->
        {% for row in dbEV %}
          <td> <b><span id="kwhStranded{{row['ID']}}" name="kwhStrandedObj"></span></b></td>
        {% end %}
      </tr>
      <tr>
        <td><span id="packVoltageLabel">Estimated pack voltage</span><br><span id="packVoltageTooltip" style="font-size: smaller;font-style: italic;">Estimate based on remaining miles</span>
            <!-- <img id="packVoltageTooltip" src="{{ static_url('images/qmark-16.png') }}" width="14px" title="Voltage estimate based on remaining miles"></td> -->
        {% for row in dbEV %}
          <td>
            <b><span id="curPackVoltage{{row['ID']}}" name="calcVoltObj"></span></b>
            <input style="font-weight: bold;font-size: medium;text-align: center;" size="5" type="number" min="1" max="9999" step="1" 
                   id="enteredPackVoltage{{row['ID']}}" name="enterVoltObj" value="" oninput="packVoltageCalcData({{ids}}, {{chem}}, {{kWh}}, {{maxvolt}}, {{minvolt}})">
          </td>
        {% end %}
      </tr>
      <tr>
        <td>Min / Max pack voltage</td>
        {% for row in dbEV %}
          <td> <b>{{decFormat(row['MinPackVoltage'], 1)}} / {{decFormat(row['MaxPackVoltage'], 1)}}</b></td>
        {% end %}
      </tr>
      </table>
    {% else %}
      <br/>
      <p>Battery parameters are available after vehicle is selected</p> 
    {% end %}
   
  </div>
