<!-- Slideshow container -->

<div>
  <!-- Full-width images with number and caption text -->
  <div style="margin:auto;">
    {% if imgfigure != 0 %}
    <div style="float:left; margin:0; width:50%;">
      <span class="text">{{ year }} {{make}} {{model}}<br></span><span style="font-size:smaller;">(currently selected vehicle)</span><br>
      <img id="carfigure" class="zoomD" style="width:80%; cursor:pointer;" src="data:image/jpeg;base64,{% raw imgfigure %}">
    </div>
    {% end %}
    <!-- {% if imgstructure != 0 %}
    <div style="float:left; margin:0; width:50%;text-align: center;"">
      <img id="carstructure" class="zoomD" style="width:75%; cursor:pointer;" src="data:image/png;base64,{% raw imgstructure %}">
      {% raw urllist %}
    </div>
    {% end %} -->
    <div style="float:left; margin:0; width:50%;text-align: center;"">
      <div class="button-container">
        {% raw guidebuttons %}
      </div>
    </div>
  </div>

  <dialog id="guides-dialog"style="width:100%;height:100%;">
    <div class="guides-container">
      <div class="guides-first-row">
        <button class="guides-dialog-close" style="float:right;" onclick="document.querySelector('dialog').close();">
          Close
        </button>
      </div>
      <iframe id="guideframe" class="guides-second-row" src=""></iframe>
    </div>

  </dialog>

</div>
<br>
<script>
  manageGuidelines();
  // var guidesmodal = document.querySelector("guides-dialog")
  // guidebuttons = document.getElementsByClassName("guidebutton")
  //       for (btn of guidebuttons) {
  //           btn.addEventListener("click", () => {guidesmodal.showModal();})
  //       }
  // // document.querySelector(".button-container button").addEventListener("click", () => {
  // //   modal.showModal();
  // // });

  // var closeBtns = document.getElementsByClassName("guides-dialog-close");

  // for (btn of closeBtns) {
  //   btn.addEventListener("click", () => {
  //     guidesmodal.close();
  //   })
  // }
</script>

